[submodule "hw-design/Libs/mod-kicad-footprints"]
	path = hw-design/Libs/mod-kicad-footprints
	url = https://github.com/portalmod/mod-kicad-footprints.git
[submodule "hw-design/Libs/mod-kicad-libs"]
	path = hw-design/Libs/mod-kicad-libs
	url = https://github.com/portalmod/mod-kicad-libs.git
[submodule "hw-design/lib/kicad-library"]
	path = hw-design/lib/kicad-library
	url = git@github.com:KiCad/kicad-library.git
